@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat:wght@400;500;700;900&display=swap");
.frag_layout {
  font-family: "Montserrat", sans-serif;
}

.frag_layout h2 {
  text-align: center;
  padding: 1rem 0rem;
  color: #5f7470;
  font-weight: 400;
  font-size: 1.2rem;
}

.empty__note {
  font-family: "Montserrat", sans-serif;
  color: #979797;
  text-align: center;
  margin: 2rem 0rem;
}

.frag_layout p {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  opacity: 0.6;
}

.frag_card {
  padding: 2rem 2rem;
  border-top: 1px solid #e0e2db;
}

strong {
  font-weight: 300;
  color: #343a40;
  /* color: #5f7470; */
}

@media only screen and (min-width: 900px) {
}
