@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat:wght@400;500;700;900&display=swap");
.frag_layout {
  font-family: "Montserrat", sans-serif;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}

.intro {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  font-size: 1.3rem;
  max-width: 60%;
  text-align: center;
  opacity: 0.6;
  margin: 1rem 0rem 0rem 0rem;
}

.app__text {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  text-align: center;
  max-width: 60%;
  margin: 2rem 0rem;
  font-size: 1.3rem;
  text-align: center;
}

.banner_action {
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  color: #e0e2db;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #5f7470;
  padding: 0.75rem 2rem;
  margin: 2rem 0rem;
}

.banner_action:hover {
  background-color: #889696;
  color: #e0e2db;
}

.frag_layout h2 {
  text-align: center;
  padding-top: 2rem;
  color: #343a40;
  font-weight: 400;
}

.empty__note {
  font-family: "Montserrat", sans-serif;
  color: #979797;
  text-align: center;
  margin: 2rem 0rem;
}

.frag_layout p {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  opacity: 0.6;
}

.frag_card {
  padding: 2rem 2rem;
  border-top: 1px solid #e0e2db;
}

strong {
  font-weight: 300;
  color: #343a40;
  /* color: #5f7470; */
}

@media only screen and (min-width: 900px) {
  .banner {
    padding-bottom: 0rem;
    border-bottom: none;
    align-items: flex-start;
    padding-left: 3rem;
  }

  .app__text {
    max-width: 100%;
    font-size: 2.5rem;
    text-align: left;
  }

  .intro {
    max-width: 90%;
    line-height: 2rem;
    text-align: left;
  }
}
