.frag_card {
  display: flex;
  margin: 2rem 0rem;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: space-between;
}

.frag_img img {
  max-width: 50%;
  float: right;
}

.frag_info {
  min-width: 50%;
}

.frag_title {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.frag_title h3 {
  padding-right: 0.5rem;
  font-size: 1.75rem;
  color: #5f7470;
}

.frag_cardTimes {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #343a40;
  opacity: 0.6;
}

.frag_title p {
  margin: 0rem;
  font-size: 1rem;
  color: #343a40;
  opacity: 0.6;
}

.frag_cardInfo img {
  padding-right: 1rem;
}

/* .frag_cardDate {
  font-weight: 500;
} */

@media only screen and (max-width: 750px) {
  .frag_card {
    display: flex;
    margin: 2rem 0rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .frag_img {
    margin: 0 auto;
    text-align: center;
  }

  .frag_img img {
    max-width: 60%;
    float: none;
  }
}
