@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat:wght@400;500;700;900&display=swap");

/* font-family: "Lato", sans-serif;
font-family: "Merriweather", serif;
font-family: "Montserrat", sans-serif; */

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem;
}

.img_background {
  margin-top: 0rem;
  width: 100%;
  background-size: auto 125%;
  padding: 0rem;
  background-image: url(../../images/better-background.svg);
  background-position: 50% 51%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 4rem 0;
  text-align: center;
  border-radius: 0rem 5px 5px 0px;
}

.login_data h1 {
  font-family: "Montserrat", sans-serif;
  color: black;
  max-width: 75%;
  width: min-content;
  margin: -1rem auto 0rem;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}

.login_img {
  max-width: 35%;
}

.login_data {
  text-align: center;
  justify-content: center;
}

.app__text {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  text-align: center;
  max-width: 70%;
  margin: 0.5rem auto;
  font-size: 1rem;
}

.banner_action {
  border: none;
  background: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #e0e2db;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #5f7470;
  padding: 0.75rem 2rem;
  margin: 0.5rem 0rem;
  width: 75%;
}

.banner_action:hover {
  background-color: #889696;
  color: #e0e2db;
}

@media only screen and (min-width: 900px) {
  .layout {
    flex-direction: row-reverse;
    margin: 0rem auto;
    width: 90%;
    padding: 1rem 0rem;
    min-height: 80vh;
    border-radius: 5px;
    background-color: #fefffe;
  }

  .login_data h1 {
    margin: 0rem;
    font-size: 4rem;
    text-align: left;
  }

  .login_data {
    flex-direction: column;
    width: 90%;
  }

  .img_background {
    background-color: #b8bdb5;
  }

  .img_background img {
    max-width: auto;
    max-height: 80vh;
    border-radius: 5px;
  }

  .login_img {
    width: auto;
  }

  .login_data {
    text-align: left;
  }

  .app__text {
    margin: 2rem 0rem;
    text-align: left;
    margin: 1rem 0rem;
    font-size: 1.2rem;
    max-width: 85%;
  }

  .banner_action {
    width: 60%;
    padding: 0.75rem;
  }
}
