@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat:wght@400;500;700;900&display=swap");

/* font-family: "Lato", sans-serif;
font-family: "Merriweather", serif;
font-family: "Montserrat", sans-serif; */

.layout {
  border-top: 1px solid #e0e2db;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem 0rem 0rem;
}

.img_background {
  text-align: center;
  padding: 2rem 2rem;
  background-image: url("../../images/login_background.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: auto 95%;
}

.layout h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #343a40;
  margin: 1rem;
}

.login_img {
  max-width: 70%;
}

@media only screen and (min-width: 900px) {
  .layout {
    border-top: 1px solid #e0e2db;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 0rem 3rem 0rem;
    text-align: left;
  }

  .layout h1 {
    font-size: 2.5rem;
    margin: 1rem 0rem;
  }

  .img_background {
    width: 100%;
    background-position: 55% 50%;
    background-size: auto 150%;
  }

  .login_img {
    max-width: 75%;
    margin-left: -17rem;
  }
}
