@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat:wght@400;500;700;900&display=swap");

/* font-family: "Lato", sans-serif;
font-family: "Merriweather", serif;
font-family: "Montserrat", sans-serif; */

.layout {
  border-top: 1px solid #e0e2db;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem 0rem 0rem;
}

.img_background {
  text-align: center;
  padding: 2rem 2rem;
  background-image: url("../../images/login_background.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: auto 95%;
}

.layout h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #343a40;
  margin: 1rem;
  font-weight: 400;
}

.login_img {
  max-width: 70%;
}

.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.intro {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  font-size: 1rem;
  max-width: 60%;
  text-align: center;
  margin: 0rem;
  opacity: 0.8;
}

.intro strong {
  color: #343a40;
  font-weight: 500;
}

.app__text {
  font-family: "Montserrat", sans-serif;
  color: #343a40;
  text-align: center;
  max-width: 60%;
  margin: 2rem 0rem;
  font-size: 1.3rem;
  text-align: center;
}

.banner_action {
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  color: #e0e2db;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: #5f7470;
  padding: 0.5rem 1.5rem;
  margin: 2rem 0rem;
}

.banner_action:hover {
  background-color: #889696;
  color: #e0e2db;
  display: inline-block;
}

@media only screen and (min-width: 900px) {
  .layout {
    border-top: 1px solid #e0e2db;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 0rem 3rem 0rem;
    text-align: left;
  }

  .layout h1 {
    font-size: 2.5rem;
    margin: 1rem 0rem;
  }

  .img_background {
    width: 100%;
    background-position: 55% 50%;
    background-size: auto 150%;
  }

  .login_img {
    max-width: 75%;
    margin-left: -7rem;
  }

  .banner {
    padding-bottom: 0rem;
    border-bottom: none;
    align-items: flex-start;
    padding-left: 3rem;
    padding-bottom: 4rem;
  }
  .banner_action {
    padding: 0.5rem 2rem;
  }

  .app__text {
    max-width: 100%;
    font-size: 2.5rem;
    text-align: left;
  }

  .intro {
    max-width: 90%;
    line-height: 2rem;
    text-align: left;
    font-size: 1.3rem;
    margin: 1rem 0rem 0rem 0rem;
  }
}
