@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat:wght@400;500;700;900&display=swap");

.nav_bar {
  padding: 1rem;
}

.toggle_button {
  border: none;
  color: #222;
}

.nav_logo {
  max-width: 8rem;
  font-family: "Montserrat", sans-serif;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 1.1rem;
  color: #b8bdb5;
}

.nav_logo:hover {
  color: #889696;
}

.toggle_button:active {
  border: none;
}

.toggle_button:focus {
  outline: none;
  box-shadow: none;
}

a.nav_link {
  color: #222;
  font-family: "Montserrat", sans-serif;
}

a {
  display: block;
  padding: 0.5rem rem 1rem;
  color: #5f7470;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
